.Rproj.user
.Rhistory
.RData
.Ruserdata
project_plot_files/figure-html/unnamed-chunk-10-1.png
project_plot_files/figure-html/unnamed-chunk-11-1.png
project_plot_files/figure-html/unnamed-chunk-5-1.png
project_plot_files/figure-html/unnamed-chunk-9-1.png
project_plot_files/libs/bootstrap/bootstrap-icons.css
project_plot_files/libs/bootstrap/bootstrap-icons.woff
project_plot_files/libs/bootstrap/bootstrap.min.css
project_plot_files/libs/bootstrap/bootstrap.min.js
project_plot_files/libs/clipboard/clipboard.min.js
project_plot_files/libs/quarto-html/anchor.min.js
project_plot_files/libs/quarto-html/popper.min.js
project_plot_files/libs/quarto-html/quarto-syntax-highlighting.css
project_plot_files/libs/quarto-html/quarto.js
project_plot_files/libs/quarto-html/tippy.css
project_plot_files/libs/quarto-html/tippy.umd.min.js
